

<ion-header [translucent]="true">
  <!-- <ion-toolbar>
    <ion-title>Forgot_password</ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content [fullscreen]="true">
  <div class="main">
    <div class="arrow" ><ion-icon routerLink="/forgot-password" name="chevron-back-outline"></ion-icon></div>
    <img src="../../../assets/login/Enter OTP-cuate 1.svg">
    
  <div class="content"> <h1>Forgot Password</h1>
   <p>Please, enter the OTP code sent to 
    Google@gmail.com</p>
  <div class="otp" > 
    <input class="inp" >
    <input class="inp" >
    <input class="inp">
    <input class="inp" >
    <input class="inp" >
    <input class="inp">
  </div> </div>
   <div class="box" >  <button class="btn" routerLink="/f-new-pass">Verify</button></div>
  </div>
  
</ion-content>
