section.detail {
    display: flex;
    flex-direction: column;

    #desc {
        padding-left: 20px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        text-transform: capitalize;
        color: #666666;
        padding-right: 30px;
    }

    .head {
        display: flex;
        justify-content: space-between;

        h1 {
            font-family: 'Roboto';
            font-style: normal;
            color: #e68d9d;
            font-weight: 500;
            padding-left: 20px;
            font-size: 22px;
        }


        .heart {
            display: flex;
            flex-direction: row;
            gap: 8px;
            max-height: 30px;

            // max-width:30px;
            #heartImg,
            #shareImg {
                padding: 2px;
                background-color: var(--color-light-secondary);
                border: 1px solid #E9E9E9;
            }
        }
    }

    hr {
        margin: 1rem 0;
        border: 1px solid #c9c9c9;
        height: 0px;
    }

    .priceInfo {
        display: blocks;
        flex-direction: row;
        justify-content: space-between;

        padding: 5px 20px;

        background-color: #FFEFF2 !important;
        border-radius: 8px;

        max-height: 80px;

        .pricing {
            display: flex;
            flex-direction: column;

            h2 {
                font-family: 'Philosopher';
                font-style: normal;
                font-weight: 600;
                font-size: 24px;
                line-height: 22px;
                text-align: center;
                color: #E88F9F;
                margin: 0px !important;

                display: flex;
                align-items: center;
                gap: 12px;

                del {
                    font-size: 20px;
                    color: #9D9FA4;
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 400;
                }
            }

            #subText {
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 400;
                font-size: 10px !important;
                line-height: 9px;
                color: #707477;

            }
        }

        .couponInfo {
            display: flex;
            flex-direction: row;
            gap: 8px;

            // background-color: #FFEFF2 !important;
            p {
                font-size: 14px;
                color: #1CAE56;
                padding-top: 2px;
                margin: 0px;
            }
        }
    }

    .options {
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-top: 18px;



        .dropdownCtn {
            display: flex;
            flex-direction: column;
            gap: 10px;

            .upperSec {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
            }

            .lowerSec {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                flex: 1 1;

                .pincode {
                    display: flex;
                    flex-direction: column;
                    max-width: 212px;
                }
            }
        }

        .pink {
            color: #E88F9F;
            background: none;
        }

        .quantity {
            display: flex;
            border-radius: 5px;

            #label {
                color: #5C5E62;
                padding-left: 20px;
            }

            .input {
                display: flex;
                gap: 10px;
                align-items: center;
                padding-left: 20px;
            }

            button {
                width: 30px;
                height: 30px;
                border-radius: 8px;
                border: none;
                background: #FFB2C0;
                color: #fff;

                &:active {
                    background: #FFB2C0;
                }

                &:disabled {
                    background: #c9c9c9;
                }
            }

            input {
                background: var(--color-light);
                border: none;
                outline: none;
                height: 30px;
                padding: 0px 10px;
                font-size: 14px;
                text-align: center;
                width: 30px;
                border: 0.68512px solid #E88F9F;
                border-radius: 7px;
            }
        }
    }

    .actions {
        display: flex;
        justify-content: flex-start;
        gap: 15px;
        align-items: center;
        padding-left: 20px;
        margin-bottom: 20px;

        margin-bottom: 25px button {
            border: none;
            outline: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            font-size: var(--small);
        }

        #addToCart {
            background-color: var(--color-light);
            color: #BB6979;
            border: 1px solid #BB6979;
            border-radius: 7px;
            padding: 10px 20px;
        }

        #buyNow {
            background-color: #BB6979;
            color: #FFFFFF;
            border-radius: 7px;
            padding: 10px 30px;
        }
    }
}

.button-native {
    background-color: #fff;
}

.button-native {
    background-color: #fff;
}

section.product-service {
    background: #FFEFF2;
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0px;

    .product-service-1 {
        img {
            width: 8vw;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        h4 {
            font-size: 20px;
            text-align: center;
        }

    }

}

.detailBox {
    height: 400px;
    // overflow: auto;
}

.detailBox::-webkit-scrollbar {
    display: none;
}

.subHeading {

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 19px;
    text-transform: capitalize;
    color: #E88F9F;
    margin: 0 0 15px 20px;

}

.subText {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #5C5E62;
    margin: 0 0 15px 20px;
}

.productDetail {
    padding: 12px;

    text-align: center;

    // h3 {
    //     font-family: 'Roboto';
    //     font-style: normal;
    //     font-weight: 500;
    //     font-size: 22px;
    //     color: #E88F9F;
    // }

    // h5 {
    //     font-family: 'Roboto';
    //     font-style: normal;
    //     font-weight: 500;
    //     font-size: 20px;
    //     line-height: 23px;
    //     color: #5C5E62;
    // }

}

.productDetail {
    .common-product {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        margin: 10px 0px;
    }

    .dimn-wt {
        background-color: #FAFAFA;

        .dimn-wt-common {
            display: flex;
            justify-content: center;

            padding: 10px 0;

            img {
                width: 30px;
                height: 30px;
            }

            h3 {
                font-family: "Roboto";
                font-style: normal;
                font-weight: 500;
                font-size: 20px;
                margin: 0px;
                color: #E88F9F;
                align-items: center;
                justify-content: center;
                padding-left: 10px;
                padding-top: 5px;
            }


        }

        h5 {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            font-size: 15px;
            line-height: 14px;
            /* display: flex; */
            align-items: center;
            text-align: center;
            color: #5C5E62;
        }

        border: 1.5px solid #c9c9c9;
        border-radius: 10px;
    }

    .purity {
        display: flex;
        gap: 15px;
        border: 1.5px solid #c9c9c9;
        border-radius: 10px;
        align-items: center;
        padding: 12px;
        background-color: #FAFAFA;

        img {
            width: 30px;
            height: 30px;
        }

        h3 {
            font-family: "Roboto";
            font-style: normal;
            font-weight: 500;
            font-size: 19px;
            margin: 0px;
            color: #E88F9F;
            align-items: center;
            justify-content: center;
        }

        h5 {
            font-family: "Roboto";
            font-style: normal;
            font-weight: 500;
            font-size: 15px;
            line-height: 14px;
            align-items: center;
            text-align: center;
            color: #5C5E62;
            margin: 0;
        }
    }
}

.diamondGermsBox {
    display: flex;
    column-gap: 10px;
    align-items: centers;
    align-items: center;
    padding-left: 10px;

    h3 {
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        color: #E88F9F;
    }
}

.diamondImg {
    width: 30px;
}

.diamondSection {
    margin-top: 15px;
    border-radius: 10px;
    border: 1px solid #c9c9c9;
    padding-right: 0px;
    padding: 0px 0px 20px;
    margin: 20px 10px;
}

.tableHeading {

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 14px;
    // text-align: center;s
    color: #5C5E62;
    padding-inline: 10px
}

.tableSubText {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #5C5E62;
    // text-align: center;
    padding-left: 10px;

}

.button-inner {
    color: black !important;
    background: white !important;
}

:host(.button-solid),
.ionic-btn {
    --background: white !important;
    --color: var(--ion-color-primary-contrast, #fff);
}

.pincode {
    background-color: #FFEFF2;
    padding: 30px 0px 30px 20px;

    lable {
        margin-bottom: 9px;
        padding-bottom: 10px;
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 16px;
        color: #5C5E62;
    }

    ::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        padding-left: 10px;
        line-height: 21px;
        /* identical to box height, or 150% */


        color: #66323C;
        opacity: 1;
        /* Firefox */
    }

    :-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        padding-left: 10px;
        line-height: 21px;
        /* identical to box height, or 150% */


        color: #66323C;
    }

    ::-ms-input-placeholder {
        /* Microsoft Edge */
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        padding-left: 10px;
        line-height: 21px;
        /* identical to box height, or 150% */


        color: #66323C;
    }

    span {
        margin: 20px 0px;

    }

    .pin-inpt {
        #pincode {
            margin-top: 10px;
            width: 90vw;
            padding: 10px;
            background: #FFFFFF;
            border: 1px solid #FAD4DC;
            border-radius: 8px;
        }

        label {
            // font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 16px;
            color: #5C5E62;
        }
    }

    span {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 14px;
        color: #5C5E62;
        margin: 0px;
        padding-right: 10px;
    }
}

section.priceBreakUp {
    width: 95vw;
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 10px;
    border: 1px solid #e68d9d;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);

    .head {
        background-color: #e68d9d;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;

        h2 {
            color: white;
            margin: 0px;
            font-size: 22px;
            // text-transform: uppercase;
        }

        p {
            cursor: pointer;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 28px;
            display: flex;
            column-gap: 12px;
            align-items: center;
            text-align: center;
            text-transform: uppercase;

            color: #FFFFFF;
        }

    }
}

.priceBreakUp table tr th {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 30px;
    // text-align: center;
    color: #E88F9F;
}

.priceBreakUp table tr td {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #5C5E62;
}


.priceTable {
    padding: 49px;
    padding-right: 0px;
}

.smallText {
    text-decoration: line-through;
}

small.mrp {
    font-family: 'Roboto';
    font-style: normal;
    // font-weight: 500;
    // font-size: 20px;
    line-height: 23px;
    // text-align: center;
    color: #5C5E62;
    text-decoration: none;
}

.bottomBorder {
    border-bottom: 1.5px solid #E9E9E9;
    margin-bottom: 30px;
}

.uk-tab {
    justify-content: center;
}

.uk-tab::before {
    border: none !important;
}

.uk-tab li a {
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 33px;
    text-transform: capitalize;
    color: #66323C;
}

.uk-tab>.uk-active>a {
    color: #66323C;
    border-color: #66323C;
}

.pinkSubText {
    padding: 16px 12px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    // text-align: center;
    letter-spacing: 0.03em;
    color: #E88F9F;
}

.bottomBorder {
    border-bottom: 1.5px solid #E9E9E9;
    margin-bottom: 30px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 98vw;
}

@media only screen and (max-width: 481px) {
    section.product-service .product-service-1 h4 {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        text-align: center;

        color: #5C5E62;
    }

}