<ion-header [translucent]="true">
  <!-- <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Login</ion-title>
    </ion-toolbar>
  </ion-header> -->

<div id="f_section">
  <img class="img" src="../../assets/login/928986-beautiful-jewelry-wallpapers-1920x1200-for-meizu 1.jpg">
  <img class="logo" src="../../assets/login/NAAYSA LOGO PINK.svg">
  <h1 class="title">Naaysa Jewellers</h1>
  <button class="btn" routerLink="/log">Login</button>
  <button class="btn signUp"  routerLink="/signUp">Sign Up</button>
</div>

</ion-content>
