<div id="login_page">
    <div >    
       <img class="bg" src="../../../assets/login/login screen abstract.svg"> 
            <div class="logo"><img src="../../../assets/login/NAAYSA LOGO.svg">
             <h1>Naaysa Jewellers</h1>
    </div>
<div class="content">
    <h3>Welcome back! Glad to see you, Again!</h3>
    <input class="inp" placeholder="Enter your email">
    <input class="inp" type="password" placeholder="Enter your password">
    <p class="pass" routerLink=f_Pass>Forgot Password</p><br>
    <button class="btn">Login</button>
    <h5><hr class="hr">Or Login with<hr  class="hr"></h5>
    <div class="icon">
      <img src="../../../assets/login/facebook_ic.svg" >
      <img src="../../../assets/login/google_ic.svg" >
      <img src="../../../assets/login/cib_apple.svg" >
    </div>
    <p class="signUp">Don’t have an account ? <span routerLink="/signUp"> Register Now</span> </p>
  </div>
</div>
</div>