

<ion-header [translucent]="true">
  <!-- <ion-toolbar>
    <ion-title>Forgot_password</ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content [fullscreen]="true">
  <div class="main">
    <div style="padding: 10px 20px;">
    <div class="arrow" ><ion-icon routerLink="/forgot-password" name="chevron-back-outline"></ion-icon></div><br><br>
  <h1>Forgot Password</h1>
  <input class="inp" placeholder="Enter new password">
  <input class="inp" placeholder="Re-enter password">
  <button class="btns">1</button>
  <button class=" btns">2</button>
  <button class=" btns">3</button>
  <button class=" btns">4</button>
  <button class="btns">5</button>
  <button class=" btns">6</button>
  <button class="btns">7</button>
  <button class="btns"> 8</button>
  <button class="btns">9</button>
  <button class="btns"></button>
  <button class="btns">0</button>
  <button class="btns"><div class="cancel"><ion-icon class="close" name="close-outline"></ion-icon></div></button>
  <!-- <button><ion-searchbar placeholder="Custom Placeholder"></ion-searchbar></button> -->
 </div>
</div>
   <div class="box" >  <button class="btn"  (click)="onclicked()">Set Password</button></div>
  </div>

</ion-content>



<div *ngIf="pop" style="width: 100%; height: 100%;background-color: rgba(0, 0, 0, 0.4);position: fixed;top:0px;display: flex;justify-content: center;" >
  <div  id="popup">
      <img src="../../../assets/CART/Vector.svg">
      <p>Your Password has been
        reset successfully!</p>
      <div style="display: flex;justify-content: center;text-align: center;" >
          <button class="buttonn" (click)="home()" routerLink="/login-page">Back to Login</button>
         
      </div>
  </div>
  </div>
  