<ion-header [translucent]="true">
  <!-- <ion-toolbar>
    <ion-title>signUp_page</ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content [fullscreen]="true">
  <div id="login_page">
   
       <img class="bg" src="../../../assets/login/sign up page abstract.svg"> 
       <div class="main " >    <ion-icon routerLink="/welcome"  name="chevron-back-outline"></ion-icon>
            <div class="logo"><img src="../../../assets/login/NAAYSA LOGO.svg">
             <h1>Naaysa Jewellers</h1>
    </div>
  <div class="content">
    <h3>Hello! Sign Up to get started</h3>
    <input class="inp" placeholder="Username">
    <input class="inp" type="password" placeholder="Email">
    <input class="inp" placeholder="Password">
    <input class="inp" placeholder="Confirm password">
    <!-- <p class="pass">Forgot Password</p><br> -->
    <button class="btn">Sign Up</button>
    <h5><hr class="hr">Or Register with<hr  class="hr"></h5>
    <div class="icon">
      <img src="../../../assets/login/facebook_ic.svg" >
      <img src="../../../assets/login/google_ic.svg" >
      <img src="../../../assets/login/cib_apple.svg" >
    </div>
    <p class="signUp">Already have an account ?  <span routerLink="/login-page"> Login Now</span> </p>
  </div>
  </div>
  </div>
  
</ion-content>
